nav {
  background: darkblue !important;
  width: 100%;
  height: 50px;
}

nav ul li {
  background-color: white !important;
}

h1 {
  color: white;
  margin-left: 501px;
}
.label {
  color: white;
}
body {
  background-color: whitesmoke;
  background-image: url(images/Akan.jpg);
  background-repeat: repeat;
  background-size: cover;
}
.box {
  box-sizing: border-box;
  background-color: cyan;
  width: 300px;
}
p {
  color: whitesmoke;
}
.dates {
  text-align: center;
  margin-bottom: 9px;
  margin-top: 9px;
}
footer {
  background: darkblue !important;
  width: 100%;
  height: 50px;
}
.btn {
  margin-bottom: 5px !important;
  width: 200px;
  border-radius: 1px !important;
}
p {
  color: black;
  font-weight: bold;
}
.names {
  color: white;
  font-family: sans-serif;
}
.label {
  color: black;
  font-weight: bold;
}
.names {
  box-sizing: border-box;
  background-color: green;
  width: auto;
  border-radius: 9px;
  text-align: center;
}
